<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprohome/css/deck.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprohome/css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprohome/css/messenger.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprohome/css/friend.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprohome/css/chatroom.css') }}">
    <link rel="stylesheet" media="screen and (orientation:portrait)" type="text/css" href="{{ asset('bundles/funprouser/css/portrait.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.css') }}">
</head>
<body>
<div class="change-orientation-warning" style="display: none">Sorry! This game work only in landscape mode.</div>
<div class="container-fluid">
    <div class="deck">
        <div class="menu">
            <ul>
                <li title="Online & Free">
                    <span class="fa fa-circle" id="my-status"></span>
                    <img data-username="{{ app.user.username }}" src="{{ asset('images/38x38/default.png') }}" id="myAvatar" class="img-thumbnail img-fluid rounded-circle avatar" data-size="38">
                </li>
                <li><a href="#create_game" data-toggle="modal" class="disabled">New Game</a></li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Friends</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="modal" href="#friend-requests">Friend Requests</a>
                        <a class="dropdown-item" data-toggle="modal" href="#friend-suggests">Friend Suggests</a>
                        <a class="dropdown-item" data-toggle="modal" href="#friends-list">Friends list</a>
                    </div>
                </li>
                {#<li><a href="#">exit game</a></li>#}
                <li class="messenger">
                    <div class="messenger-box">
                        <button class="plus show-messages-archive">&plus;</button>
                        <div id="messeges">
                        </div>
                    </div>
                    <div id="messages-archive">
                    </div>
                </li>
            </ul>
        </div>

        <div class="modal fade" id="friends-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend list</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="card-columns friends-list">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="friend-suggests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend suggest</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="card-columns friend-suggests">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="friend-requests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend Requests (<span id="count-of-friend-request">0</span> from 50)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-inline" id="send-friend-request">
                                        <div class="form-group">
                                            <input type="text" placeholder="Username" id="friend-username" class="form-control">
                                            <button type="submit" class="btn btn-primary">Invite</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="card-columns friend-requests">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="create_game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Invite Users</h4>
                        <span>Your game expire after 59:30</span>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {#<div class="row invite">#}
                                {#<div class="col-sm-12">#}
                                    {#<form class="form-inline" name="invite">#}
                                        {#<div class="form-group">#}
                                            {#<input type="text" placeholder="Username" id="invite_player" class="form-control">#}
                                            {#<button type="button" id="invite" class="btn btn-primary">Invite</button>#}
                                        {#</div>#}
                                    {#</form>#}
                                {#</div>#}
                            {#</div>#}
                            <table class="table" id="invited_users_list">
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="startGame" type="button" class="btn btn-primary">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-room-container">
        <div class="container-fluid">
            <div class="row chat-rooms">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="messenger-notification">
    <p class="messenger-notification"><span class="message-author" data-content="author"></span>: <span class="message" data-content="message"></span></p>
</script>
<script type="text/html" id="messenger-game-invitation">
    <div class="messenger-game-invitation messenger_invitation" data-id="gameId">
        <button class="btn btn-success btn-sm">Accept</button>
        <button class="btn btn-danger btn-sm">Decline</button>
        <div class="message"><strong data-content="from"></strong> invite from you to play <span data-content="gameType"></span></div>
    </div>
</script>
<script type="text/html" id="messenger-friend-invitation">
    <div class="messenger-friend-invitation messenger_invitation" data-template-bind='[{"attribute": "data-username", "value": "from"}]'>
        <button class="btn btn-success btn-sm">Accept</button>
        <button class="btn btn-danger btn-sm">Decline</button>
        <div class="message"><strong data-content="from"></strong> <span data-content="message"></span></div>
    </div>
</script>
{#<script type="text/html" id="invited_user">#}
    {#<tr id="invited_user" data-class="username">#}
        {#<td class="col-md-7" data-content="username"></td>#}
        {#<td class="col-md-2" data-content="answer"></td>#}
        {#<td class="col-md-3"><button title="remove" class="btn btn-danger btn-sm cancel_invitation"><span class="fa fa-close"></span></button></td>#}
    {#</tr>#}
{#</script>#}
<script type="text/html" id="friend-suggest">
    <div class="card text-xs-center friend-suggest" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <img src="{{ asset('images/200x200/default.png') }}" class="avatar card-img-top" alt="username" data-size="200"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-block dropup">
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-success answer-friend-suggest"><span class="fa fa-check"></span></button>
            <button type="button" class="btn btn-danger answer-friend-suggest"><span class="fa fa-close"></span></button>
        </div>
    </div>
</script>
<script type="text/html" id="friend-request">
    <div class="card text-xs-center friend-request" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <img src="{{ asset('images/200x200/default.png') }}" class="avatar card-img-top" alt="username" data-size="200"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-block dropup">
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-danger" data-toggle="dropdown"><span class="fa fa-close"></span></button>
            <div class="dropdown-menu">
                <button class="btn btn-danger btn-sm cancel-friend-request" type="button">Cancel friend request?</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="friend-list-item">
    <div class="card text-xs-center friend-list-item" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="status-area"><span class="fa fa-circle user-status"
            data-template-bind='[{"attribute": "data-username", "value": "username"}]'></span></div>
        <img src="{{ asset('images/200x200/default.png') }}" class="avatar card-img-top" alt="username" data-size="200"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-block dropup">
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-primary open-chat-room"><span class="fa fa-comments"></span></button>
            <button type="button" class="btn btn-danger" data-toggle="dropdown"><span class="fa fa-close"></span></button>
            <div class="dropdown-menu">
                <button class="btn btn-danger btn-sm remove-friend" type="button">Remove from list?</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="chat-room">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 collapse in chat-room" data-id="chat_room_id"
         data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card">
            <div class="card-header">
                <div class="row chat-window-control">
                    <div class="col-xs-9">
                        <div class="row chat-info">
                            <div class="col-xs-2 avatar"><img src="{{ asset('images/200x200/default.png') }}" class="img-fluid rounded-circle avatar"
                                data-size="200" data-template-bind='[{"attribute": "data-username", "value": "username"}]'></div>
                            <div class="col-xs-10 username" data-content="username"></div>
                        </div>
                    </div>
                    <div class="col-xs-3 chat-control">
                        <div class="row">
                            <div class="col-xs-4"><span class="fa fa-circle user-status"
                                data-template-bind='[{"attribute": "data-username", "value": "username"}]'></span></div>
                            <div class="col-xs-4"><a class="close" data-toggle="collapse" data-href="link_to_chat_content"><span class="fa fa-plus min-max"></span></a></div>
                            <div class="col-xs-4"><a class="close" data-toggle="collapse" data-href="link_to_chat_room"><span class="fa fa-close"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" data-id="chat_content_id">
                <div class="card-block">
                    {#messeger sender and reciver#}
                </div>
                <div class="card-footer">
                    <form class="chat-room-messenger">
                        <div class="input-group">
                            <input type="text" placeholder="Write Your message here" class="form-control chat-room-message" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><span class="fa fa-telegram send-message"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="message-send">
    <div class="row message message-send" data-template-bind='[{"attribute": "data-time", "value": "timestamp"}]'>
        <div class="col-xs-2">
            <img class="img-fluid rounded-circle avatar" data-size="38" src="{{ asset('images/38x38/default.png') }}"
                data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        </div>
        <div class="col-xs-10 message-text" data-content-append="message">
            <span class="send-at" data-content="time"></span>
        </div>
    </div>
</script>
<script type="text/html" id="message-receive">
    <div class="row message message-receive" data-template-bind='[{"attribute": "data-time", "value": "timestamp"}]'>
        <div class="col-xs-10 message-text" data-content-append="message">
            <span class="send-at" data-content="time"></span>
        </div>
        <div class="col-xs-2" style="padding-left: 8px;">
            <img class="img-fluid rounded-circle avatar" data-size="38" src="{{ asset('images/38x38/default.png') }}"
                 data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        </div>
    </div>
</script>
{% raw %}
<script type="text/html" id="message-send-worker">
    <div class="row message message-send" data-time="{{ timestamp }}">
        <div class="col-xs-2">
            <img class="img-fluid rounded-circle avatar" data-size="38" {% endraw %}src="{{ asset('images/38x38/default.png') }}"{% raw %} data-username="{{ username }}">
        </div>
        <div class="col-xs-10 message-text">
            {{{ message }}}
            <span class="send-at">{{ time }}</span>
        </div>
    </div>
</script>
<script type="text/html" id="message-receive-worker">
    <div class="row message message-receive" data-time="{{ timestamp }}">
        <div class="col-xs-10 message-text">
            {{{ message }}}
            <span class="send-at">{{ time }}</span>
        </div>
        <div class="col-xs-2" style="padding-left: 8px;">
            <img class="img-fluid rounded-circle avatar" data-size="38" {% endraw %}src="{{ asset('images/38x38/default.png') }}"{% raw %} data-username="{{ username }}">
        </div>
    </div>
</script>
{% endraw %}
<script src="{{ asset('assets/json2/json2.js') }}"></script>
<script src="{{ asset('assets/jquery/dist/jquery.js') }}"></script>
<script src="{{ asset('assets/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/jquery-load-template/dist/jquery.loadTemplate.js') }}"></script>
<script src="{{ asset('assets/jquery.nicescroll/dist/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('assets/jStorage/jstorage.js') }}"></script>
<script src="{{ asset('assets/js-php-unserialize/php-unserialize.js') }}"></script>
{{ ws_client() }}
<script src="{{ asset('bundles/funprohome/js/deck/messenger.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/main.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/avatar.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/menu.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/friend.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/chatroom.js') }}"></script>
<script src="{{ asset('bundles/funprohome/js/deck/user_status.js') }}"></script>
<script type="text/javascript">
    if (!$.jStorage.storageAvailable()) {
        alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser.')
    }

    $(document).ready(function () {
        $.jStorage.set('myUsername', '{{ app.user.username }}');
        avatars.load();
    })
</script>
</body>
</html>