<!DOCTYPE html>
<html manifest="/manifest.appcache">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/dist/css/bootstrap.min.css') }}">

    {% stylesheets '@FunProHomeBundle/Resources/public/css/deck.css'
    'bundles/funprohome/css/menu.css'
    'bundles/funprohome/css/messenger.css'
    'bundles/funprohome/css/friend.css'
    'bundles/funprohome/css/game.css'
    'bundles/funprohome/css/chatroom.css'
    filter='cssrewrite' output='css/core.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" media="screen and (orientation:portrait)" type="text/css" href="{{ asset('bundles/funprouser/css/portrait.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/jquery-ui/themes/base/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/emojione/assets/css/emojione.min.css') }}">
</head>
<body>
<div class="change-orientation-warning" style="display: none">Sorry! This game work only in landscape mode.</div>
<div class="container-fluid">
    <div class="deck">
        <div class="menu">
            <ul>
                <li title="{{ app.user.username }}: Online & Free">
                    <span class="fa fa-circle user-status" data-username="{{ app.user.username }}" id="my-status"></span>
                    <img data-username="{{ app.user.username }}" src="{{ asset('images/38x38/default.png') }}" id="myAvatar" class="img-thumbnail img-fluid rounded-circle avatar" data-size="38">
                </li>
                <li>
                    <a href="#" class="disabled dropdown-toggle game" data-toggle="dropdown">Join Game</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item game join" data-game-name="seven" id="join-seven">Seven</a>
                        {#<a href="#" class="dropdown-item game join" data-game-name="shelem" id="join-shelem">Shelem</a>#}
                        <a href="#game-suggests" data-toggle="modal" class="dropdown-item game suggests">Invitations</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="disabled dropdown-toggle game" data-toggle="dropdown">New Game</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item game create" data-game-name="seven" id="create-seven">Seven</a>
                        {#<a href="#" class="dropdown-item game create" data-game-name="shelem" id="create-shelem">Shelem</a>#}
                        <a href="#current-game" data-toggle="modal" class="dropdown-item game current hidden-xs-up" id="current-game-link">Current</a>
                    </div>
                </li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Friends</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="modal" href="#friend-requests">Friend Requests</a>
                        <a class="dropdown-item" data-toggle="modal" href="#friend-suggests">Friend Suggests</a>
                        <a class="dropdown-item" data-toggle="modal" href="#friends-list">Friends list</a>
                    </div>
                </li>
                <li class="messenger">
                    <div class="messenger-box">
                        <button class="plus show-messages-archive">&plus;</button>
                        <div id="messeges">
                        </div>
                    </div>
                    <div id="messages-archive">
                    </div>
                </li>
            </ul>
        </div>

        <div class="modal fade" id="friends-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend list</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row friends-list">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="friend-suggests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend suggest</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row friend-suggests">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="friend-requests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Friend Requests (<span id="count-of-friend-request">0</span> from 50)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-inline" id="send-friend-request">
                                        <div class="form-group">
                                            <input type="text" placeholder="Username" id="friend-username" class="form-control">
                                            <button type="submit" class="btn btn-primary">Invite</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row friend-requests">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="game-suggests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Invited by</th>
                                            <th>Game name</th>
                                            <th>Round time</th>
                                            <th>Max Point</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="game-suggests">
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="game-score" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Game score</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <table class="table table-striped table-reflow game-score">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="game-invitations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <form class="form-inline" id="invite-player">
                            <div class="form-group" id="invite-player">
                                <input name="player_name" type="text" placeholder="Friend Username" class="form-control">
                                <div class="input-group" title="Round time">
                                    <input name="turnTime" type="number" min="7" max="15" value="10" class="form-control">
                                    <span class="input-group-addon">Second</span>
                                </div>
                                <div class="input-group" title="Max score">
                                    <input name="point" type="number" min="30" max="1000" step="10" value="30" class="form-control">
                                    <span class="input-group-addon">Point</span>
                                </div>
                                <button type="submit" class="btn btn-primary">Invite</button>
                                <button id="startGame" type="button" class="btn btn-primary">Start</button>
                                <div class="dropdown d-inline">
                                    <button data-toggle="dropdown" style="display: none" type="button" class="btn btn-warning cancel-invitations">Cancel</button>
                                    <div class="dropdown-menu">
                                        <button type="button" class="btn btn-danger dropdown-item" id="cancel-invitations">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="game_invited_users row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="current-game">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                        <button class="btn btn-warning" id="cancel_current_game">Cancel</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row current-game">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="pick-color">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">You must pick a item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="pick-color text-xs-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="deck-container">
            <div class="seat0-loading"></div>
            <div class="seat1-loading"></div>
            <div class="seat2-loading"></div>
            <div class="seat3-loading"></div>
            <div id="mid-dropable-aria"></div>
        </div>
    </div>
    <div id="chat-room-container">
        <div class="container-fluid">
            <div class="row chat-rooms">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="messenger-notification">
    <p class="messenger-notification"><span class="message-author" data-content="author"></span>: <span class="message" data-content="message"></span></p>
</script>
<script type="text/html" id="messenger-game-invitation">
    <div class="messenger-game-invitation messenger_invitation" data-template-bind='[{"attribute": "data-game-id", "value": "gameId"}]'>
        <button class="btn btn-success btn-sm answer-game-suggest">Accept</button>
        <button class="btn btn-danger btn-sm answer-game-suggest">Decline</button>
        <div class="message">
            <strong data-content="from"></strong> invite from you to play <span data-content="gameName"></span> (<span data-content="turnTime"></span>S)
        </div>
    </div>
</script>
<script type="text/html" id="messenger-friend-invitation">
    <div class="messenger-friend-invitation messenger_invitation" data-template-bind='[{"attribute": "data-username", "value": "from"}]'>
        <button class="btn btn-success btn-sm answer-friend-suggest">Accept</button>
        <button class="btn btn-danger btn-sm answer-friend-suggest">Decline</button>
        <div class="message"><strong data-content="from"></strong> <span data-content="message"></span></div>
    </div>
</script>
<script type="text/html" id="game-suggest">
    <tr class="game-suggest" data-template-bind='[{"attribute": "data-game-id", "value": "gameId"}]'>
        <td data-content="invitedBy"></td>
        <td data-content="gameName"></td>
        <td data-content="turnTime"></td>
        <td data-content="point"></td>
        <td data-template-bind='[{"attribute": "data-game-id", "value": "gameId"}]'>
            <button type="button" class="btn btn-success btn-sm answer-game-suggest"><span class="fa fa-check"></span></button>
            <button type="button" class="btn btn-danger btn-sm answer-game-suggest"><span class="fa fa-close"></span></button>
        </td>
    </tr>
</script>
<script type="text/html" id="game_invited_user">
    <div class="card col-md-3 col-sm-4 col-xs-6 text-xs-center game_invited_user" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="status-area"><span class="fa fa-circle user-status"
            data-template-bind='[{"attribute": "data-username", "value": "username"}]'></span></div>
        <img src="{{ asset('images/215x215/default.png') }}" class="avatar img-fluid card-img-top" data-alt="username" data-size="215"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-footer dropup">
            <h4 class="card-title" data-content-prepend="username">: <span class="fa user-answer"></span></h4>
            <div class="dropdown">
                <button type="button" class="btn btn-danger" data-toggle="dropdown"><span class="fa fa-close"></span></button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item cancel-invitation">Remove?</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="current-game-members">
    <div class="card col-md-3 text-xs-center current-game-members" style="padding: 0"
         data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <img src="{{ asset('images/140x140/default.png') }}" class="avatar img-fluid card-img-top" data-alt="username" data-size="140"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-footer dropup">
            <h4 class="card-title" data-content="username"></h4>
        </div>
    </div>
</script>
<script type="text/html" id="friend-suggest">
    <div class="card col-md-3 col-sm-4 col-xs-6 text-xs-center friend-suggest" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <img src="{{ asset('images/215x215/default.png') }}" class="avatar img-fluid card-img-top" data-alt="username" data-size="215"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-footer dropup" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-success answer-friend-suggest"><span class="fa fa-check"></span></button>
            <button type="button" class="btn btn-danger answer-friend-suggest"><span class="fa fa-close"></span></button>
        </div>
    </div>
</script>
<script type="text/html" id="friend-request">
    <div class="card col-md-3 col-sm-4 col-xs-6 text-xs-center friend-request" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <img src="{{ asset('images/215x215/default.png') }}" class="avatar img-fluid card-img-top" data-alt="username" data-size="215"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-footer dropup">
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-danger" data-toggle="dropdown"><span class="fa fa-close"></span></button>
            <div class="dropdown-menu">
                <button class="btn btn-danger btn-sm cancel-friend-request" type="button">Cancel friend request?</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="friend-list-item">
    <div class="card col-md-3 col-sm-4 col-xs-6 text-xs-center friend-list-item" data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="status-area"><span class="fa fa-circle user-status"
            data-template-bind='[{"attribute": "data-username", "value": "username"}]'></span></div>
        <img src="{{ asset('images/215x215/default.png') }}" class="avatar img-fluid card-img-top" data-alt="username" data-size="215"
             data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card-footer dropup">
            <h4 class="card-title" data-content="username"></h4>
            <button type="button" class="btn btn-primary open-chat-room"><span class="fa fa-comments"></span></button>
            <button type="button" class="btn btn-danger" data-toggle="dropdown"><span class="fa fa-close"></span></button>
            <div class="dropdown-menu">
                <button class="btn btn-danger btn-sm remove-friend" type="button">Remove from list?</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="chat-room">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 collapse in chat-room" data-id="chat_room_id"
         data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        <div class="card">
            <div class="card-header">
                <div class="row chat-window-control">
                    <div class="col-xs-9">
                        <div class="row chat-info">
                            <div class="col-xs-2 avatar"><img src="{{ asset('images/200x200/default.png') }}" class="img-fluid rounded-circle avatar"
                                data-size="200" data-template-bind='[{"attribute": "data-username", "value": "username"}]'></div>
                            <div class="col-xs-10 username" data-content="username"></div>
                        </div>
                    </div>
                    <div class="col-xs-3 chat-control">
                        <div class="row">
                            <div class="col-xs-4"><span class="fa fa-circle user-status"
                                data-template-bind='[{"attribute": "data-username", "value": "username"}]'></span></div>
                            <div class="col-xs-4"><a class="close" data-toggle="collapse" data-href="link_to_chat_content"><span class="fa fa-plus min-max"></span></a></div>
                            <div class="col-xs-4"><a class="close" data-toggle="collapse" data-href="link_to_chat_room"><span class="fa fa-close"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" data-id="chat_content_id">
                <div class="card-block">
                    {#messeger sender and reciver#}
                </div>
                <div class="card-footer">
                    <form class="chat-room-messenger">
                        <div class="input-group">
                            <input type="text" placeholder="Write Your message here" class="form-control chat-room-message" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><span class="fa fa-telegram send-message"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="message-send">
    <div class="row message message-send" data-template-bind='[{"attribute": "data-time", "value": "timestamp"}]'>
        <div class="col-xs-2">
            <img class="img-fluid rounded-circle avatar" data-size="38" src="{{ asset('images/38x38/default.png') }}"
                data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        </div>
        <div class="col-xs-10 message-text" data-content-append="message">
            <span class="send-at" data-content="time"></span>
        </div>
    </div>
</script>
<script type="text/html" id="message-receive">
    <div class="row message message-receive" data-template-bind='[{"attribute": "data-time", "value": "timestamp"}]'>
        <div class="col-xs-10 message-text" data-content-append="message">
            <span class="send-at" data-content="time"></span>
        </div>
        <div class="col-xs-2" style="padding-left: 8px;">
            <img class="img-fluid rounded-circle avatar" data-size="38" src="{{ asset('images/38x38/default.png') }}"
                 data-template-bind='[{"attribute": "data-username", "value": "username"}]'>
        </div>
    </div>
</script>
{% verbatim %}
<script type="text/html" id="message-send-worker">
    <div class="row message message-send" data-time="{{ timestamp }}">
        <div class="col-xs-2">
            <img class="img-fluid rounded-circle avatar" data-size="38" {% endverbatim %}src="{{ asset('images/38x38/default.png') }}"{% verbatim %} data-username="{{ username }}">
        </div>
        <div class="col-xs-10 message-text">
            {{{ message }}}
            <span class="send-at">{{ time }}</span>
        </div>
    </div>
</script>
<script type="text/html" id="message-receive-worker">
    <div class="row message message-receive" data-time="{{ timestamp }}">
        <div class="col-xs-10 message-text">
            {{{ message }}}
            <span class="send-at">{{ time }}</span>
        </div>
        <div class="col-xs-2" style="padding-left: 8px;">
            <img class="img-fluid rounded-circle avatar" data-size="38" {% endverbatim %}src="{{ asset('images/38x38/default.png') }}"{% verbatim %} data-username="{{ username }}">
        </div>
    </div>
</script>
{% endverbatim %}
<script src="{{ asset('assets/json2/json2.js') }}"></script>
<script src="{{ asset('assets/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/jqueryui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/jquery-load-template/dist/jquery.loadTemplate.min.js') }}"></script>
<script src="{{ asset('assets/jquery.nicescroll/dist/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('assets/jStorage/jstorage.min.js') }}"></script>
<script src="{{ asset('assets/js-php-unserialize/php-unserialize.js') }}"></script>
<script src="{{ asset('assets/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('assets/moment-duration-format/lib/moment-duration-format.js') }}"></script>
<script src="{{ asset('assets/emojione/lib/js/emojione.min.js') }}"></script>
<script src="{{ asset('assets/pokerjs/release/poker.min.js') }}"></script>
<script>var soho = '{{ gos_web_socket_server_host }}', sopo = '{{ gos_web_socket_server_port }}';</script>
{% javascripts
'@GosWebSocketBundle/Resources/public/js/vendor/autobahn.min.js'
'@GosWebSocketBundle/Resources/public/js/gos_web_socket_client.js'
'@FunProHomeBundle/Resources/public/js/deck/messenger.js'
'@FunProHomeBundle/Resources/public/js/deck/main.js'
'@FunProHomeBundle/Resources/public/js/deck/avatar.js'
'@FunProHomeBundle/Resources/public/js/deck/friend.js'
'@FunProHomeBundle/Resources/public/js/deck/chatroom.js'
'@FunProHomeBundle/Resources/public/js/deck/user_status.js'
'@FunProHomeBundle/Resources/public/js/deck/game.menu.js'
'@FunProSevenBundle/Resources/public/js/seven.js' output='js/core.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    if (!$.jStorage.storageAvailable()) {
        alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser.')
    } else {
        var myUsername = '{{ app.user.username }}';
        $.jStorage.set('myUsername', '{{ app.user.username }}');
    }

    $(document).ready(function () {
        avatars.load();
        emojione.ascii = true;
        emojione.imageType = 'svg';
        emojione.sprites = true;
        emojione.imagePathSVGSprites = '{{ asset('assets/emojione/assets/sprites/emojione.sprites.svg') }}';
    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89254549-1', 'auto');
    ga('send', 'pageview');
    ga('set', 'userId', {{ app.user.id }});
</script>
</body>
</html>