<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/funprouser/css/login.css') }}" />
    <link rel="stylesheet" media="screen and (orientation:portrait)" type="text/css" href="{{ asset('bundles/funprouser/css/portrait.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/dist/css/bootstrap.css') }}" />
    <title>Login page</title>
</head>
<body>
{#<div class="container">#}
    {#{% if error is defined and error %}#}
        {#<div class="alert">#}
            {#<span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>#}
        {#</div>#}
    {#{% endif %}#}

    {#{% if app.request.hasPreviousSession %}#}
        {#{% for type, messages in app.session.flashbag.all() %}#}
            {#{% for message in messages %}#}
                {#<div class="alert">#}
                    {#<span>{{ message }}</span>#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endfor %}#}
    {#{% endif %}#}
    {#{% block fos_user_content %}#}
    {#{% endblock fos_user_content %}#}
    {#<script src="{{ asset('assets/jquery/dist/jquery.js') }}" />#}
    {#<script src="{{ asset('assets/bootstrap/dist/js/bootstrap.js') }}" />#}
{#</div>#}

<div class="change-orientation-warning" style="display: none">Sorry! This game work in landscape mode</div>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="login">
            <form id="login" class="form-control" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input name="_username" value="{{ last_username }}" type="text" placeholder="Email" required="required" />
                <input name="_password" type="password" placeholder="Password" required="required" />
                <div class="button-group left">
                    <a class="button" onclick="document.getElementById('login').submit();" style="cursor: pointer">Login</a>
                    <a class="button" href="{{ path('fos_user_registration_register') }}">Register</a>
                </div>
                <div class="button-group right">
                    <a class="button" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">Google</a>
                    <a class="button" href="{{ path('hwi_oauth_service_redirect', {'service': 'yahoo'}) }}">Yahoo</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>